* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightskyblue;
}

h1, p {
    font-family: sans-serif;
    text-align: center;
    color: #323330;
    font-size:  70px;
}


p {
    font-size: 30px;
}

#output, #container, a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


input {
    background-color: #eee;
    border: 2px solid darkblue;
    border-radius: 5px;
    font-family: sans-serif;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}